* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --primary-color: White;
    --secondary-color: #024e76;
    --tertiary-color: rgb(48, 152, 160);
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(1, 30, 75);
}
/* apply styles to <header> */
header {
    background-color: var(--tertiary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(1, 30, 75);
    margin: 0;
}

header a {
    text-decoration: none;
    color: rgb(1, 30, 75);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

header nav ul li a:hover{
    background: var(--primary-color);
    color: var(secondary-color);
    border-radius: 15px;
}

.row{
    display: flex;
    width: 100%;
    flex: 100%;
    justify-content: space-between;
}


.column{
    display: flex;
    padding: 10px;
    margin: 10px;
    height: 100%;
    align-items: flex-start;
    max-width: 99%;
}

.col-4{
    width: 33%;
    flex: 0 0 33%;
}

.col-8{
    width: 66%;
    flex: 0 0 66%;
}

.col-6{
    max-width: 48%;
    flex: 0 0 55%;
}

.col-12{
    width: 100%;
    flex: 0 0 100%;
}

.card{
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    flex:0 0 100%;
    border-radius: 10px;
}

.card-header{
    color: white;
    font-size: 1.5;
    margin: 5px 5px 10px 5px;
    width: 100%;
}

.card-body{
    width: 100%;
}

#date-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputBox{
    width: 100%;
    border-radius: 10px;
}

input{
    width: 100%;
    padding: 6px;
    margin: 0 0 10px 0;
    border-radius: 10px;
}

.btn{
    width: 100%;
    padding: 5px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.searchCard{
    max-width: 60%;
    flex: 0 0 60%;
    border-radius: 7+px;
    margin-right: 15px;
}

.btn:hover{
    background: var(--primary-color);
    color: var(secondary-color);
    border-radius: 15px;
}

#dateCard{
    max-width: 40%;
    flex: 0 0 40%; 
}

.container{
    background-image: url(../images/social-event-2.jpg);
    background-size: cover;
    background-position: 80%;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.card-body .row{
    margin: 10px 0px 10px 0px;
    width: 100%;
}

#eventInfo .card{
    max-width: 100%;
    flex: 100%;
    justify-content: space-between;
    background-color: var(--tertiary-color);
}

#eventInfo .card h4 {
    font-weight: bold;
    font-size: x-large;
}

#eventInfo .col-4{
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#resultsCard{
    max-width: 100%;
    flex: 100%;
}

iframe{
    margin: 20px;
    border-radius: 10px;
}
